@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;800&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Kanit", sans-serif;
    margin: 0;
    font-weight: 200;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    margin-bottom: 10px;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

h1, h2, p {
    animation: fadeInUp 1.5s ease-in-out;
}

h1 {
    text-align: center;
    color: orange;
    font-size: 75px;
    margin-top: 50px;
}

h2 {
    text-align: center;
    color: orange;
    margin-bottom: 100px;
}

p {
    margin-left: 70px;
    text-align: justify;
    color: orange;
    font-size: 18px;
    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: -2px;
    background-color: rgba(0, 0, 0, 0.8); /* Adjust the last value for increased opacity */
    padding: 25px;
    border-radius: 20px;
    z-index: 1;
}


@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.overlay-image {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 35%;
    z-index: 3;
    animation: fadeInRight 1.5s ease-in-out;
}

.logo {
    width: 70px;
    margin-right: -20px;
}

header {
    position: absolute;
    z-index: 9999;
    padding: 0.9rem 0;
    width: 100%;
    top: 0;
    left: 0;
}

header nav {
    max-width: 2400px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-line{
    font-size:40px;
}

media screen and (width: 1920px) and (height: 1080px) {
    h1 {
        font-size: 90px; /* Adjust font size of h1 */
    }

    h2 {
        font-size: 42px; /* Adjust font size of h2 */
    }

    p {
        font-size: 24px; /* Adjust font size of paragraphs */
        margin-left: px; /* Adjust margin-left of paragraphs */
    }

    .overlay-image {
        width: 33%; /* Adjust the width of the overlay image */
    }
}

/* Media Query for 1024x600 Resolution */
@media screen and (width: 1024px) and (height: 600px) {
    h1 {
        font-size: 50px; /* Adjust font size of h1 */
    }

    h2 {
        font-size: 30px; /* Adjust font size of h2 */
        margin-bottom: 52px; /* Adjust margin-bottom of h2 */
    }

    p {
        font-size: 16px; /* Adjust font size of paragraphs */
        margin-left: 5px; /* Adjust margin-left of paragraphs */
        padding: 20px; /* Adjust padding of paragraphs */
    }

    .overlay-image {
        width: 25%; /* Adjust the width of the overlay image */
    }
}

@media screen and (max-width: 430px) and (max-height: 932px) {
    h1 {
        font-size: 30px; /* Adjust font size of h1 */
    }

    h2 {
        font-size: 25px; /* Adjust font size of h2 */
        margin-bottom: 40px; /* Adjust margin-bottom of h2 */
    }

    p {
        font-size: 13px; /* Adjust font size of paragraphs */
        margin-left: 5px; /* Adjust margin-left of paragraphs */
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        /* Adjust padding of paragraphs */
    }

    .overlay-image {
        width: 99%;
        z-index:-1/* Adjust the width of the overlay image */
    }
    .logo{
        width:50px;
    }

    .first-line {
    font-size: 30px;
}    
